<!DOCTYPE html>
<html ng-app="teste">
<head>
    <meta charset="utf-8" />

    <title>TecLog System</title>
    <base href="/">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.min.js"></script>

    <script src="/app/app.module.js"></script>

    <link rel="stylesheet" href="css/main.css">

</head>
<body ng-controller="SignInController">

    <div class="registrar">
        <h1>TEC LOG</h1>
        <br />
        <input type="text" ng-model="Usuario" placeholder="Usuario">
        <br />
        <input type="text" ng-model="Nome" placeholder="Nome">
        <br />
        <input type="text" ng-model="Cpf" placeholder="Cpf">
        <br />
        <input type="text" ng-model="Endereco" placeholder="Endereco">
        <br />
        <input type="text" ng-model="Senha" placeholder="Senha">
    </div>

    <div ng-view></div>
</body>
</html>
