<!DOCTYPE html>
<html ng-app="teste">
<head>
    <meta charset="utf-8" />

    <title>TecLog System</title>
    <base href="/">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.min.js"></script>

    <script src="/app/app.module.js"></script>

    <link rel="stylesheet" href="css/main.css">

</head>
<body ng-controller="SignInController">
    <div class="menu-registrar">
        <h2>Registro</h2>
        <form>
            <label>Usuário:</label>
            <input type="text" ng-model="Usuario.User" placeholder="Usuario">

            <label>Nome Completo:</label>
            <input type="text" ng-model="Usuario.Nome" placeholder="Nome">

            <label>CPF:</label>
            <input type="text" ng-model="Usuario.Cpf" required placeholder="000.000.000-00">

            <label>Endereço:</label>
            <input type="text" ng-model="Usuario.Endereco" placeholder="Endereco">

            <label>Senha:</label>
            <input type="password" ng-model="Usuario.Senha" placeholder="Senha">

            <button type="submit">Registrar</button>
        </form>
    </div>

    <div ng-view></div>
</body>
</html>
